h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}
a{
  color: aquamarine;
  font-size: 16px;
}
body {
  text-align: center;
  background-color: black;
}
.description{
  font-family: Verdana;
  font-size: 16px;
  color: Gray;
}
footer {
  text-align: right;
  color: gray;
}
